.h1 {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 60px;
    background-color: rgb(70, 66, 66);
    color: white;
}

button {
    width: 100%;
    background-color: lightgreen;
    font-size: 15px;
    padding: 5px;
}

section {
    width: 100%;
    justify-content: space-evenly;
}

.th {
    width: 100%;
    border-style: solid;
    font-size: 20px;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 5px;
}

table {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.item {
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}